* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: calc(15px + 0.16vw);
}

h1 {
  text-transform: capitalize;
}

.error {
  font-size: 90%;
  padding: 2px;
  color: red;
  font-style: italic;
}

.header-nav {
  display: flex;
  flex-grow: 1;
}

.profile {
  margin-left: auto;
}

.btn-duplicate {
  padding: 0 4px;
  min-width: 20px;
}

.mw-210 {
  min-width: 210px;
}

.flex-1 {
  flex: 1 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.border-none {
  border: none !important;
}

.border-top-none {
  border-top: none !important;
}
.border-bottom-none {
  border-bottom: none !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

input[type="checkbox"] {
  width: 20px;
  height: 100%;
  margin-top: 0;
  cursor: pointer;
}

input[type="checkbox"] + label {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
}

.sign {
  width: 180px;
  height: 90px;
  border: none;
  pointer-events: none;
}

.notification-list {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

/* chart */

.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1a1a1a;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 5px;
}
.chartCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
#chartBox {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error {
  font-size: 90%;
  padding: 2px;
  color: red;
  font-style: italic;
}

.header-nav {
  display: flex;
  flex-grow: 1;
}

.profile {
  margin-left: auto;
}

.btn-duplicate {
  padding: 0 4px;
  min-width: 20px;
}

.mw-210 {
  min-width: 210px;
}

.flex-1 {
  flex: 1 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.border-none {
  border: none !important;
}

.border-top-none {
  border-top: none !important;
}
.border-bottom-none {
  border-bottom: none !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

input[type="checkbox"] {
  width: 20px;
  height: 100%;
  margin-top: 0;
  cursor: pointer;
}

input[type="checkbox"] + label {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
}

.sign {
  width: 180px;
  height: 90px;
  border: none;
  pointer-events: none;
}

.notification-list {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

/* chart */

.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1a1a1a;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
#chartBox {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}

/* responsive */
th,
td {
  white-space: nowrap;
}

.container {
  padding-bottom: 10px;
}

.user-panel img {
  height: 2.1rem;
  width: 2.1rem;
  object-fit: cover;
}

.content-header {
  padding: 0px 0.5rem;
}

.container {
  overflow: hidden;
}
